@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  list-style: none;
}

body {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.todo-heading {
  display: inline;
  text-align: center;
  color: white;
}

.add-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.todo-input {
  min-width: 15rem;
  width: 40vw;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-height: 3rem;
  border: none;
  align-self: center;
}

.todo-input:focus {
  outline: none;
  border: none;
  /* border: 2px solid #433aa8; */
}

.add-btn {
  background: #433aa8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: 0.5rem;
}
.add-btn:hover {
  background: #dd1818;
  color: white;
}

.display-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.buttons button {
  background: #433aa8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: 0.5rem;
}
.buttons button:hover {
  background: #dd1818;
  color: white;
}

.display-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background: #edd2f3;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 18rem;
  max-width: 30rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
  height: 8rem;
  position: relative;
}
.card textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: #333333;
  padding: 0.5rem;
  border-radius: 5px;
  background: transparent;
}

.card textarea:disabled {
  background: transparent;
  color: #333333;
}

.btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btns button {
  background: #1f1d36;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.todo-completed {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: line-through;
  color: #dd1818;
}

@media Screen and (max-width: 390px) {
  .add-todos {
    flex-direction: column;
  }
  .add-todos button {
    margin-top: 1rem;
  }

  .buttons button {
    margin-left: 0;
    margin-right: 1rem;
  }
}
@media Screen and (max-width: 275px) {
  .buttons {
    flex-direction: column;
  }

  .buttons button {
    margin-top: 1rem;
  }
}
